* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf")
        format("truetype");
    font-weight: 1 1000;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf")
        format("truetype");
    font-weight: 1 1000;
    font-style: italic;
}

@font-face {
    font-family: "Noto-Serif";
    src: url("../assets/fonts/noto-serif/NotoSerif-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-weight: 1 1000;
    font-style: normal;
}

@font-face {
    font-family: "Noto-Serif";
    src: url("../assets/fonts/noto-serif/NotoSerif-Italic-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-weight: 1 1000;
    font-style: italic;
}

@font-face {
    font-family: "Source-Code-Pro";
    src: url("../assets/fonts/source-code-pro/SourceCodePro-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 1 1000;
    font-style: normal;
}

@font-face {
    font-family: "Source-Code-Pro";
    src: url("../assets/fonts/source-code-pro/SourceCodePro-Italic-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 1 1000;
    font-style: italic;
}

:root {
    --color-neutral-950: hsl(222, 32%, 8%);
    --color-neutral-900: hsl(230, 19%, 12%);
    --color-neutral-800: hsl(231, 16%, 16%);
    --color-neutral-700: hsl(221, 16%, 20%);
    --color-neutral-600: hsl(222, 11%, 36%);
    --color-neutral-500: hsl(221, 8%, 48%);
    --color-neutral-400: hsl(220, 11%, 64%);
    --color-neutral-300: hsl(219, 15%, 82%);
    --color-neutral-200: hsl(216, 19%, 90%);
    --color-neutral-100: hsl(216, 26%, 96%);
    --color-neutral-50: hsl(216, 33%, 97%);
    --color-neutral-0: hsl(0, 0%, 100%);
    --color-blue-700: hsl(228, 70%, 48%);
    --color-blue-500: hsl(228, 100%, 60%);
    --color-blue-50: hsl(222, 100%, 96%);
    --color-green-500: hsl(148, 71%, 44%);
    --color-green-100: hsl(154, 84%, 90%);
    --color-red-500: hsl(355, 96%, 60%);
    --color-red-100: hsl(356, 100%, 92%);

    --spacing-0: 0px;
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;

    --radius-0: 0;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;

    --font-family-sans: "Inter", sans-serif;
    --font-sans: "Inter", system-ui, -apple-system, sans-serif;
    --font-serif: "Noto-Serif", ui-serif, Georgia, "Times New Roman", serif;
    --font-mono:
        "Source-Code-Pro", ui-monospace, SFMono-Regular, Menlo, Consolas,
        monospace;

    --font-family-base: var(--font-sans);
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;

    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    --muted-text: var(--color-neutral-600);

    --line-height: 120%;

    --letter-spacing-base: -0.2px;
    --letter-spacing-tight: -0.3px;
    --letter-spacing-tighter: -0.5px;

    --background: var(--color-neutral-100);
    --foreground: var(--color-neutral-950);
    --border-light: var(--color-neutral-200);
    --border: var(--color-neutral-300);
    --active: var(--color-neutral-100);
    --active-border: var(--color-neutral-950);
    --hover: var(--color-neutral-50);
    --placeholder: var(--color-neutral-500);
    --primary: var(--color-blue-500);
    --primary-foreground: var(--background);
    --primary-hover: var(--color-blue-700);
    --ring: var(--color-neutral-400);
    --separator: var(--color-neutral-200);
    --surface: var(--color-neutral-0);
    --secondary: var(--color-neutral-100);
    --shimmer: rgba(255, 255, 255, 0.55);
    --tag-bg: var(--color-neutral-200);

    --shadow: rgba(240, 240, 240, 0.6);

    --shadow-sm: 0px 1px 2px 0px var(--shadow);
    --shadow-md: 0px 4px 6px 0px var(--shadow);
    --shadow-lg: 0px 8px 12px 0px var(--shadow);
}

/* TODO: Confirm the dark mode colors */
[data-theme="dark"] {
    --background: black;
    --foreground: var(--color-neutral-200);
    --surface: black;
    --active: var(--color-neutral-900);
    --border-light: var(--color-neutral-900);
    --border: var(--color-neutral-800);
    --hover: var(--color-neutral-800);
    --primary-foreground: var(--foreground);
    --separator: var(--color-neutral-800);
    --ring: var(--color-neutral-600);
    --shimmer: rgba(0, 0, 0, 0.55);
    --tag-bg: var(--color-neutral-800);

    --muted-text: var(--color-neutral-400);
    --shadow: rgba(0, 0, 0, 0.6);
    --secondary: var(--color-neutral-800);
    --skeleton: var(--secondary);
}

[data-font="sans"] {
    --font-family-base: var(--font-sans);
}

[data-font="serif"] {
    --font-family-base: var(--font-serif);
}

[data-font="mono"] {
    --font-family-base: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --background: black;
        --foreground: var(--color-neutral-200);
        --surface: black;
        --active: var(--color-neutral-900);
        --border-light: var(--color-neutral-900);
        --border: var(--color-neutral-800);
        --primary-foreground: var(--foreground);
        --hover: var(--color-neutral-800);
        --separator: var(--color-neutral-800);
        --ring: var(--color-neutral-600);
        --shadow: rgba(0, 0, 0, 0.6);
        --muted-text: var(--color-neutral-400);
        --secondary: var(--color-neutral-800);
        --shimmer: rgba(100, 100, 100, 0.25);

        --tag-bg: var(--color-neutral-800);
        --skeleton: rgba(0, 0, 0, 0.55);
    }
}

.text-muted {
    color: var(--muted-text);
}

.text-preset-1 {
    font-family: var(--font-family-base);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-tighter);
}

.text-preset-3 {
    font-size: var(--font-size-base);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-tight);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-semibold);
}

.text-preset-4 {
    font-family: var(--font-family-base);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-base);
}

.text-preset-5 {
    font-family: var(--font-family-base);
    font-size: var(--font-size-sm);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-base);
}

.text-preset-6 {
    font-family: var(--font-family-base);
    font-size: var(--font-size-xs);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-base);
}

html,
body {
    background-color: var(--background);
    color: var(--foreground);
    text-rendering: optimizeLegibility;
    font-family: var(--font-family-base);
}

.main {
    width: 100%;
    height: 100%;
}

.main__content {
    display: flex;
    height: calc(100% - 81px);
}

a {
    color: var(--foreground);
}

.auth__screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: var(--spacing-200);
}

.auth__card {
    width: 100%;
    max-width: 540px;
    padding: var(--spacing-600);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);
    background-color: var(--surface);
    border: 1px solid var(--border-light);
    border-radius: var(--radius-12);
    box-shadow: var(--shadow-lg);
}

.auth__card__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-100);
}

.auth__card__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: var(--spacing-300);
    gap: var(--spacing-200);
}

.form__group {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.form__group__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__group__input {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
}

.form__group__subscript {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--spacing-100);
    color: var(--muted-text);
    font-size: var(--font-size-xs);
}

.form__group__subscript > svg {
    width: 16px;
    height: 16px;
}

.no-text-decoration {
    text-decoration: none;
}

.logo {
    width: 95px;
    height: 28px;
}

input {
    height: 44px;
    width: 100%;
    border: 1px solid var(--border-light);
    border-radius: var(--radius-8);
    background-color: var(--surface);
    color: var(--foreground);
    padding: var(--spacing-150) var(--spacing-200);
    box-shadow: var(--shadow-sm);
}

input::placeholder {
    color: var(--placeholder);
}

input:hover {
    background-color: var(--hover);
}

input:focus {
    outline: 3px solid var(--ring);
    outline-offset: 3px;
    background-color: var(--surface);
}

.btn {
    width: 100%;
    height: 44px;
    display: inline-flex;
    align-items: center;
    color: var(--foreground);
    justify-content: center;
    gap: var(--spacing-100);
    font-family: var(--font-family-base);
    padding: var(--spacing-150) var(--spacing-200);
    border: 1px solid var(--border);
    border-radius: var(--radius-8);

    /* text-preset-4 */
    font-family: var(--font-family-base);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-base);
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn:focus {
    outline: 3px solid var(--ring);
    outline-offset: 3px;
    border-color: var(--color-neutral-950);
}

.btn > svg {
    width: 24px;
    height: 24px;
}

.btn__default {
    background-color: var(--primary);
    color: var(--primary-foreground);
    border-color: var(--primary);
    box-shadow: var(--shadow-sm);
}

.btn__default:hover {
    background-color: var(--primary-hover);
}

.btn__danger {
    background-color: var(--color-red-500);
    color: var(--primary-foreground);
    border-color: var(--color-red-500);
    box-shadow: var(--shadow-sm);
}

.btn__danger:hover {
    filter: brightness(0.95); /* TODO: verify this */
}

.btn__secondary {
    background-color: var(--secondary);
    border: none;
    box-shadow: var(--shadow-sm);
}

.btn__outline {
    background-color: var(--surface);
    color: var(--foreground);
    border: 1px solid var(--border);
}

.btn__outline:hover {
    background-color: var(--hover);
}

.btn__ghost {
    background-color: transparent;
    color: var(--foreground);
    border-color: transparent;
}

.btn__icon {
    width: 44px;
    height: 44px;
    aspect-ratio: 1;
    padding: 0;
}

.separator-top {
    margin-bottom: -16px;
    width: 100%;
    border-top: 1px solid var(--separator);
}

.separator-full {
    width: 100%;
    border-top: 1px solid var(--separator);
}

.showpassword__button {
    width: 44px;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    border-color: transparent;
    background-color: transparent;
    color: var(--color-neutral-500);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.showpassword__button > svg {
    fill: currentColor;
    stroke: currentColor;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100dvh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-200);
    gap: 4px;
    width: 272px;
    min-width: 272px;
    height: 100%;
    font-family: var(--font-family-base);
    background-color: var(--surface);
    border-right: 1px solid var(--border-light);
}

.right__sidebar {
    border-right: none;
    border-left: 1px solid var(--border-light);
}

.sidebar__separator {
    margin: var(--spacing-100) 0;
    border-top: 1px solid var(--border-light);
    opacity: 0.7;
}

.sidebar__button {
    background-color: transparent;
    justify-content: start;
    padding-left: var(--spacing-100);
    border: none;
    gap: var(--spacing-100);
}

.sidebar__button:hover {
    background-color: var(--hover);
}

.sidebar__button__outline {
    background-color: var(--surface);
    border: 1px solid var(--border-light);
    justify-content: start;
    padding-left: var(--spacing-100);
    gap: var(--spacing-100);
}

.sidebar__button__secondary {
    justify-content: start;
    border: none;
    padding-left: var(--spacing-100);
    background-color: var(--secondary);
}

.sidebar__button__outline:hover {
    background-color: var(--hover);
}

.sidebar__button__active {
    justify-content: start;
    border: none;
    padding-left: var(--spacing-100);
    background-color: var(--secondary);
    position: relative;
    padding-right: calc(var(--spacing-300) + 24px);
}

.sidebar__button__active > svg {
    color: var(--primary);
}

.sidebar__button__active::after {
    content: "";
    position: absolute;
    right: var(--spacing-200);
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    color: var(--foreground);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'><path fill='currentColor' fill-rule='evenodd' d='M9.47 7.47a.75.75 0 0 1 1.06 0l4 4a.75.75 0 0 1 0 1.06l-4 4a.75.75 0 1 1-1.06-1.06L12.94 12 9.47 8.53a.75.75 0 0 1 0-1.06Z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    pointer-events: none;
}

.sidebar__button > svg,
.sidebar__button__outline > svg,
.sidebar__button__secondary > svg,
.sidebar__button__active > svg {
    width: 20px;
    height: 20px;
}

.sidebar__header {
    margin-top: var(--spacing-100);
    margin-bottom: var(--spacing-200);
}

.sidebar__group {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--spacing-050);
}

.sidebar__group__label {
    color: var(--muted-text);
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-050);
    padding-top: var(--spacing-100);
    width: 100%;
}

.secondary__sidebar {
    padding: 20px 16px 0px 32px;
}

.topbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-400);
    height: 81px;
    background-color: var(--surface);
    border-bottom: 1px solid var(--border-light);
}

.topbar__interactions {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
}

.bottombar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-200);
    padding: var(--spacing-200) 0;
    padding-bottom: 0;
    background-color: var(--surface);
    border-top: 1px solid var(--border-light);
}

.bottombar > button {
    width: fit-content;
}

.page__title {
    font-family: var(--font-family-base);
    display: flex;
    align-items: center;
    gap: var(--spacing-075);
}

input[type="search"] {
    font-family: var(--font-family-base);
    padding-left: 36px;
    padding-right: 0px;
}

.search__input {
    position: relative;
    width: 300px;
}

.search__input svg {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 30%;
    left: 10px;
    fill: var(--color-neutral-500);
}

.note__list {
    height: fit-content;
    margin-top: var(--spacing-100);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-050);
    color: var(--foreground);
    overflow-y: scroll;
    padding: var(--spacing-100) 0 var(--spacing-300) 0;
}

.note__list__empty {
    background-color: var(--secondary);
    border: 1px solid var(--border-light);
    border-radius: var(--radius-8);
    padding: var(--spacing-100);
}

.note__list__item {
    width: 100%;
    border-radius: var(--radius-8);
}

.note__list__item:hover {
    background-color: var(--secondary);
}

.note__list__inner {
    display: flex;
    width: 100%;
    color: var(--foreground);
    flex-direction: column;
    padding: var(--spacing-100);
    gap: var(--spacing-150);
    cursor: pointer;
    justify-content: start;
    align-items: start;
    border: none;
    border-radius: var(--radius-8);
    outline: none;
    background-color: transparent;
}

.note__list__inner > h3 {
    text-align: left;
}

.note__tags__list {
    gap: var(--spacing-050);
    display: flex;
    flex-wrap: wrap;
}

.note__tag {
    background-color: var(--tag-bg);
    display: inline-flex;
    padding: var(--spacing-025) var(--spacing-075);
    border-radius: var(--radius-4);
}

.activenote {
    background-color: var(--active);
    border-radius: var(--radius-8);
}

.note__view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--surface);
}

.editor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--surface);
    gap: var(--spacing-200);
    padding: var(--spacing-250);
}

.editor__title {
    font-family: var(--font-family-base);
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: -6px;
    padding-left: var(--spacing-100);
}

.editor__metadata {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.metadata__field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 26px;
}

.metadata__field > svg {
    width: 16px;
    height: 16px;
    aspect-ratio: 1;
    margin-right: var(--spacing-100);
}

.metadata__field__label {
    font-family: var(--font-family-base);
    min-width: 115px;
}

.metadata__field__value {
    font-family: var(--font-family-base);
    border: none;
    outline: none;
    box-shadow: none;
}

.tag__input {
    margin-left: -6px;
    height: 28px;
    padding: var(--spacing-050) var(--spacing-100);
}

.editor__textarea {
    height: 100%;
    outline: none;
    resize: none;
    border: none;
    color: var(--foreground);
    background-color: var(--surface);
}

.editor__textarea:focus {
    outline: none;
    border: none;
}

.settingsview {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    padding: var(--spacing-250);
    background-color: var(--surface);
}

.settings__group__form {
    width: 528px;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    gap: var(--spacing-200);
}

.settings__apply__button {
    width: fit-content;
    align-self: flex-end;
}

.radio__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-200);
    padding: var(--spacing-200);
    border: 1px solid var(--border-light);
    border-radius: var(--radius-12);
}

.radio__card__icon {
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-light);
    border-radius: var(--radius-12);
}

.radio__card__label {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.radio__card > input {
    width: fit-content;
    height: fit-content;
    margin: auto var(--spacing-200) auto auto;
}

.radio__card > input:focus {
    outline: none;
}

.skeleton {
    width: 100%;
    min-height: 100px;
    display: block;
    background-color: var(--secondary);
    border-radius: var(--radius-8);
    position: relative;
    overflow: hidden;
}

.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    width: 250px;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        var(--shimmer),
        transparent
    );
    animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
    0% {
        left: -250px;
    }
    100% {
        left: 100%;
    }
}

.toaster {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    pointer-events: none;
}

.toast {
    pointer-events: auto;
    background-color: var(--surface);
    min-width: 390px;
    border: 1px solid var(--border-light);
    border-radius: var(--radius-12);
    padding: var(--spacing-200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--spacing-100);
    box-shadow: var(--shadow-md);

    opacity: 0;
    transform: translateY(10px);
    transition:
        opacity 200ms ease,
        transform 200ms ease;
    transition-delay: 100ms;
}

.toast--enter {
    opacity: 1;
    transform: translateY(0);
}

.toast--exit {
    opacity: 0;
    transform: translateY(10px);
}

.toast__icon {
    width: 24px;
    height: 24px;
}

.toast__icon svg {
    width: 24px;
    height: 24px;
}

.modal__overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: hsla(222, 32%, 8%, 0.6);
}

.modal__overlay[hidden] {
    display: none;
}

.modal {
    width: 440px;
    min-height: 175px;
    border-radius: var(--radius-12);
    background-color: var(--surface);
}

.modal__header {
    border-bottom: 1px solid var(--border-light);
    padding: var(--spacing-250);
    display: flex;
    gap: var(--spacing-200);
}

.modal__icon {
    min-width: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-8);
    background-color: var(--secondary);
}

.modal__body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-075);
}

.modal__footer {
    display: flex;
    padding: var(--spacing-200);
    gap: var(--spacing-200);
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 768px) {
    .auth__card {
        padding: var(--spacing-500) var(--spacing-200);
        text-align: center;
    }
}
